.box h1 {
  color: white;
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
}
.box h1:nth-of-type(2n-1) {
  background-color: #ecbcbc;
}
.box h1:nth-of-type(2n) {
  background-color: orange;
}
